body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.section img{
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #2320be;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2320be;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
